
<h1> <b><center> Welcome To Social World</center></b></h1>

<p>
  
</p>
<h2>
<p>New user? <%= link_to "SIGN UP!",  new_user_path %></p>
<p>Already have an account? <%= link_to "SIGN IN!",  new_session_path %></p>
</h2>

<body style="background-color:rgb(055,222,232)"></body> 